<div class="container-fluid">

    <div class="d-flex justify-content-center mt-3 mb-3">
        <h2>Actualizar Concesionario</h2>
        <hr>
    </div>

    <div class="container justify-content-center" *ngIf="formGroup">
        <form [formGroup]="formGroup" class="align-center">
            <div class="form-group pb-2">
                <label for="exampleInputNombre" style="font-weight: 600;">Nombre del Concesionario</label>
                <input formControlName="nombreConcesionario" type="text" class="form-control" id="exampleInputNombre"
                    aria-describedby="nombreHelp" placeholder="Nombre del Concesionario" readonly>
            </div>
            <div class="form-group pb-2">
                <label for="exampleInputDireccion" style="font-weight: 600;">Dirección del Concesionario</label>
                <input formControlName="direccion" type="text" class="form-control" id="exampleInputDireccion" aria-describedby="direccionHelp"
                    placeholder="Dirección del Concesionario">
            </div>
            <div class="form-group pb-2">
                <label for="exampleInputTelefono" style="font-weight: 600;">Teléfono del Concesionario</label>
                <input formControlName="telefono" type="text" class="form-control" id="exampleInputTelefono" aria-describedby="telefonoHelp"
                    placeholder="Teléfono del Concesionario">
            </div>
            <div>
                <label for="exampleInputEstado" style="font-weight: 600;">Estado del Concesionario</label>
                <div class="form-check">
                    <input formControlName="abierto" class="form-check-input" type="radio" name="abierto" id="exampleRadios1" value="true">
                    <label class="form-check-label" for="exampleRadios1">
                        Abierto
                    </label>
                </div>
                <div class="form-check pb-2">
                    <input formControlName="abierto" class="form-check-input" type="radio" name="abierto" id="exampleRadios2" value="false">
                    <label class="form-check-label" for="exampleRadios2">
                        Cerrado
                    </label>
                </div>
            </div>
            <div class="form-group pb-2">
                <label for="exampleInputWeb" style="font-weight: 600;">Sitio Web del Concesionario</label>
                <input formControlName="web" type="text" class="form-control" id="exampleInputWeb" aria-describedby="webHelp"
                    placeholder="Sitio Web del Concesionario">
            </div>
            <div class="form-group pb-2">
                <label for="exampleInputLogo" style="font-weight: 600;">Logo del Concesionario</label>
                <input formControlName="logo" type="text" class="form-control" id="exampleInputLogo" aria-describedby="logoHelp"
                    placeholder="Logo del Concesionario">
            </div>
            <div class="d-flex justify-content-center">
                <button (click)="actualizarConcesionario()" type="button" class="btn btn-primary"
                    style="padding-left: 25px; padding-right: 25px; font-weight: 600;">Actualizar</button>
            </div>

        </form>
    </div>

</div>